@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using ApotekaShop.Web.Helpers
@model ApotekaShop.Services.Models.ProductDetailsDTO

<div class="row">
    <div class="col-md-3">
        <img class="img-responsive img-center" src="http://placehold.it/200x200" height="200" width="200" title="this image needs to be centered">

        <h3>@Model.ProductNames.FirstOrDefault().Name</h3>
        <p><label>Price:</label> @Html.Currency(Model.NormalizedPrice)</p>
        <p><label>Size:</label> @Model.NormalizedPackageSize.ToString("N2")</p>

        <label>Details:</label>
        <p>@Model.ProductDescription</p>

        <label>Display text:</label>
        <p>@Model.DisplayText</p>
        
        @if (Model.Indications != null)
        {
            <label>Indications:</label>
            <p>@String.Join(", ", Model.Indications.Select(indication => indication.Name))</p>
        }
        @if (Model.Substances != null)
        {
            <label>Substances:</label>
            <p>@String.Join(", ", Model.Substances.Select(substance => substance.Name))</p>
        }

        @if (Model.Treaments != null)
        {
            <label>Treaments:</label>
            <p>@String.Join(", ", Model.Treaments.Select(treament => treament.Name))</p>
        }

        <p><a href="#" class="btn btn-primary" role="button">Add to basket</a>
        </p>
    </div>
</div>