@{
    ViewBag.Title = @Model.ProductNames.GetFirstProductName();
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using ApotekaShop.Services.Helpers
@using ApotekaShop.Web.Helpers
@using Resources
@model ApotekaShop.Services.Models.ProductDetailsDTO

<div class="row">
    <div class="col-md-3" vocab="http://schema.org/" typeof="Product">
        <img class="img-responsive img-center" src="http://placehold.it/200x200" height="200" width="200" title="this image needs to be centered">

        <h1 property="name">@Model.ProductNames.GetFirstProductName()</h1>
        <div property="offers" typeof="Offer">
            <meta property="priceCurrency" content="@ShopResources.CurrencyName" />
            <p><label>Price:</label>@ShopResources.CurrencyName <span property="price">@Html.Currency(Model.NormalizedPrice, true)</span></p>
            <p><label>Size:</label> @Model.NormalizedPackageSize.ToString("N2")</p>
            <link property="availability" href="http://schema.org/InStock" />
        </div>
        <label>Details:</label>
        <p>@Model.ProductDescription</p>

        <label>Display text:</label>
        <p>@Model.DisplayText</p>

        @if (Model.Indications != null)
        {
            <label>Indications:</label>
            <p>@String.Join(", ", Model.Indications.Select(indication => indication.Name))</p>
        }
        @if (Model.Substances != null)
        {
            <label>Substances:</label>
            <p>@String.Join(", ", Model.Substances.Select(substance => substance.Name))</p>
        }

        @if (Model.Treaments != null)
        {
            <label>Treaments:</label>
            <p>@String.Join(", ", Model.Treaments.Select(treament => treament.Name))</p>
        }
        <p><a href="#" class="btn btn-primary" ng-click="addOrder(@Model.PackageId, $event)">Add to card</a> </p>
    </div>
</div>