@using Newtonsoft.Json
@using Resources
@model ApotekaShop.Web.Models.OrderViewModel

@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="orderController">
    <h1>Cart</h1>

    <div class="panel panel-default">
        <!-- Default panel contents -->
        @*
        <div class="panel-heading">Panel heading</div>
        <div class="panel-body">
            <p>whatever descriptions and offers</p>
        </div>
        *@
        <!-- Table -->
        <table class="table" ng-init="init(@JsonConvert.SerializeObject(Model),'@ShopResources.CurrencyName', '@Url.Action("Details", "ProductDetails" )')">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Amount</th>
                    <th>Sum</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="{ hidden: hasOrderItems() }">
                    <td colspan="6" style="text-align: center; padding:50px; background-color:#ddd;">
                        <h3>Your cart is empty</h3>
                        <p>You need to add at least one item to proceed.</p>
                    </td>
                </tr>

                <tr ng-repeat="order in orderItems">
                    <th scope="row">{{$index}}</th>
                    <td>
                        <a href="{{productDetailsUrl + '/' + order.Id}}">
                            <b>{{order.Name | capitalize}}</b>
                        </a>
                    </td>
                    <td>
                        {{currencyName}} {{(order.PricePerUnit / 100).toFixed(2)}}
                    </td>
                    <td style="max-width:120px;">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default" ng-click="changeCount(order, order.Count - 1)" type="button">-</button>
                            </span>
                            <input type="number" name="input" min="1" class="form-control" ng-model="order.Count" ng-keypress="changed($event)" ng-change="changeCount(order, order.Count)" />
                            <span class="input-group-btn">
                                <button class="btn btn-default" ng-click="changeCount(order,order.Count + 1)" type="button">+</button>
                            </span>
                        </div>
                    </td>
                    <td>
                        {{currencyName}} {{(order.PricePerUnit / 100 * order.Count).toFixed(2)}}
                    </td>
                    <td>
                        <button class="btn btn-danger" ng-click="remove($index)" type="button">Remove</button>
                    </td>
                </tr>
                <tr> <!--  style="background: #cce9d7;" -->
                    <th></th>
                    <td></td>
                    <td></td>
                    <td><b class="pull-right">Total:</b></td>
                    <td><span id="totalPrice">{{currencyName}} {{(total / 100).toFixed(2)}}</span></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    @*<div class="row" style="background: #cce9d7; padding: 10px 0;">
        <div class="col-md-10">
            <b class="pull-right">Total:</b>
        </div>
        <div class="col-md-2 pull-right">
            <b><span id="totalPrice">{{currencyName}} {{(total / 100).toFixed(2)}}</span></b>
        </div>
    </div>*@

    <p>
        <a href="@Url.Action("Checkout", "Order")" class = "btn btn-primary" ng-class="{ disabled: !hasOrderItems() }">Checkout</a>
     </p>

</div>

@section Scripts
{
    @Scripts.Render("~/bundles/order")
}